#cl_online_calorie_deficit{
    background-color: #f3fcff;
    border: 1px solid  rgba(220, 220, 220, 0.641);
    display: inline-block;
    margin: 20px;
    border-radius: 3px;
}
#cl_online_calorie_deficit #cl_online_inner_div{
    margin: 15px;
    max-width: 900px;
    position: relative;
}
#cl_online_calorie_deficit .error{
    color: red;
    margin: 0px;
}
#cl_online_calorie_deficit #cl_online_head{
    background-color: rgba(220, 220, 220, 0.641);
    margin: 0px;
    font-weight: 500;
    padding: 3px;
}
#cl_online_calorie_deficit .text_center{
    text-align: center;
}
#cl_online_calorie_deficit .input-field .col{
    display: inline-block;
    padding: 5px;
    background-color: #ebebeb;
    border: 1px solid gainsboro;
    cursor: pointer;
    border-radius: 5px;
}
#cl_online_calorie_deficit .input-field {
    text-align: right;
}
#cl_online_calorie_deficit .input-field .col_f{
    background-image: linear-gradient(to left, #0072b7, #33a1e3);
    color: white;
    border: 1px solid #0072b7;
}
#cl_online_calorie_deficit .col_6{
    width: 50%;
}
#cl_online_calorie_deficit .col_12{
    width: 100%;
}
#cl_online_calorie_deficit .row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
}
#cl_online_calorie_deficit .ps_2{
    padding-right: 4px;
}
#cl_online_calorie_deficit #ft_cm{
    display: none;
}
#cl_online_calorie_deficit .orgn{
    color: orange;
    font-weight: 500;
}
#cl_online_calorie_deficit select, input{
    outline: none;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #1e5b80;
}
#cl_online_calorie_deficit .button{
    margin-top: 10px;
    justify-content: center;
}
#cl_online_calorie_deficit .button button{
    display: block;
    border-radius: 5px;
    background-color: #1e5b80;
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: center;
}
#cl_online_calorie_deficit #result table{
    padding: 10px;
    overflow: auto;
}
#cl_online_calorie_deficit #result{
    border-radius: 3px;
    margin-top: 10px;
   background-color: white;
}
#cl_online_calorie_deficit #result table tr td:nth-child(1){
    padding: 3px;
    /* text-align: center; */
    border-right: 1px solid gray;
}
#cl_online_calorie_deficit #cl_online_bottom {
    background-color: rgba(220, 220, 220, 0.641);
    margin: 0px;
    font-weight: 500;
    padding: 3px;
    text-decoration: none;
    font-size: 14px;
    text-align: right;
}
#cl_online_calorie_deficit #cl_online_bottom a{
    text-decoration: none;
    font-weight: 600;
}